@mixin pinkButton {
  margin-left: auto;
  padding: 14px 24px;
  border-radius: 24px;
  background-color: $Dark-Pink;
  color: $Link-Water-White;
  font-size: $Psize;
  font-weight: 700;
  font-family: $Sans;
  border: none;

  &:hover {
    background-color: $Charm-Pink-Actives;
  }
}

@mixin regularP($text-collor) {
  color: $text-collor;
  font-family: $Sans;
  font-size: $Psize;
  font-weight: 400;
  line-height: 28px;
}

@mixin flex($direction: row, $align: flex-start, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin regularH2($text-collor) {
  font-family: $Serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.369px;
  color: $text-collor;
}
